  * {
  box-sizing: border-box;
}

body {
  font-family: Franklin Gothic Book;
}
        html { 
            overflow: -moz-scrollbars-vertical; 
            overflow-y: scroll; 
        } 
p{
    text-align:justify;
}
footer {
clear: both;
background-color: #f1f1f1;
}
.unad {
  background-color: #F0B429; /* Orange */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.unad:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}

.whatsapp-icon {
  margin-top:13px;
}
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.texto {
  float: right
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}


/* Style the header */
header {
  background-image: url("Imagenes_web/Encabezado.JPG");
  padding: 55px;
  text-align: center;
  font-size: 40px;
  color: #F0B429;
  font-family: Franklin Gothic Heavy;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: Left;
}
/*menú opciones*/
        #menu * {  list-style-type: none;
          margin: 0;
          padding: 0;
          width: 200px;
          background-color: #f1f1f1;}
        /*#menu li{ line-height:180%;}*/
        #menu li a{  display: block;
          color: #000;
          padding: 8px 16px;
          text-decoration: none;}

         #menu li a.active {
              background-color: #005883;
              color: white;
            }

         #menu  li a:hover:not(.active) {
              background-color: #F0B429;
              color: white;}

       /* #menu li a:before{ content:"\025b8"; color:#ddd; margin-right:4px;}*/
        #menu input[name="list"] {
	        position: absolute;
	        left: -1000em;
	        }

        #menu label:before{ content:"\025b8"; margin-right:4px;}
        #menu input:checked ~ label:before{ content:"\025be";}
        #menu .interior{display: none;}
        #menu input:checked ~ ul{display:block;}

